# Dependencies
node_modules/
dist/

# Uploads
uploads/originals/*
uploads/processed/*
uploads/lqip/*
!uploads/**/.gitkeep

# Logs
*.log

# OS
.DS_Store

# IDE
.vscode/
.idea/
*.swp
*.swo

.env.development.local
.env.test.local
.env.production.local
.env.local
